<div class="border rounded-lg shadow-md bg-gray-800 text-white  ">
  <img
    src="https://picsum.photos/300/200"
    alt="Immagine di un veicolo"
    class="rounded rounded-t w-full h-1/2"
  />
  <div class="p-4 flex flex-col">
    <span class="text-xl font-bold" title="{{ vehicle.brand }} {{ vehicle.modello }}">
      {{ vehicle.brand }} {{ vehicle.modello }}
    </span>
    <p class="text-sm text-gray-500">{{ vehicle.anno }}</p>
    <p><strong>Tipo</strong> {{ vehicle.tipo }}</p>
    <p><strong>Alimentazione:</strong> {{ vehicle.alimentazione }}</p>
    <p><strong>Prezzo:</strong> {{ vehicle.prezzo | currency }}</p>
    <p><strong>Km:</strong> {{ vehicle.kilometri }}</p>
  </div>
  <div *ngIf="canBuy">
    <button
      
      class="bg-gray-800 text-white hover:bg-gray-200 hover:text-gray-800  m-2 p-2 rounded"
      (click)="openPurchaseModal()"
    >
    <i class="fa-solid fa-shopping-cart mr-2"></i> Acquista
    </button>
    <app-confirm-modal *ngIf="showModal" 
                   (confirm)="purchaseVehicle()" 
                   (cancel)="cancelPurchase()">
</app-confirm-modal>
  </div>
</div>
