<header class="bg-gray-800 text-white">
    <div class="flex justify-center items-center p-4">
        <div class="flex items-center ">
            <span class="text-xl font-bold mr-4">Logo</span>
            <span class="text-lg">Title</span>
        </div>
        
    </div>
    <div class="bg-gray-700">
        <ul class="flex justify-center space-x-6 py-2">
            <li>
                <a [routerLink]="['/showcase']"> Vetrina </a>
            </li>
            <li>
                <a [routerLink]="['/sold']" class="hover:text-blue-300">Veicoli venduti</a>
            </li>
            <li>
                <a [routerLink]="['/stats']" class="hover:text-blue-300">Statistiche</a>
            </li>
        </ul>
    </div>
</header>
