<div class="container mx-auto py-8">
  <h2 class="text-2xl font-bold mb-4">{{ pageTitle }}</h2>

  <!-- Include il componente filtro -->
  <app-vehicle-filter 
  [vehicles]="vehicles" 
  (filterByType)="applyTypeFilter($event)" 
  (filterByBrand)="applyBrandFilter($event)"
  (filterByModel)="applyModelFilter($event)"
  (filterByYear)="applyYearFilter($event)"
  (filterByFuel)="applyFuelFilter($event)"
  >
</app-vehicle-filter>

  <!-- Griglia dei veicoli filtrati -->
  <div
    *ngIf="filteredVehicles.length > 0; else noVehicles"
    class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-6"
  >
    <app-vehicle-card
      *ngFor="let veicolo of filteredVehicles"
      [vehicle]="veicolo"
    >
    </app-vehicle-card>
  </div>

  <!-- Messaggio se non ci sono veicoli in vendita -->
  <ng-template #noVehicles>
    <p>Non ci sono veicoli disponibili in questo momento.</p>
  </ng-template>
</div>
