<div class="flex space-x-4 mb-4">
  <!-- Filtro Auto -->
  <button
    (click)="toggleType(TipoVeicolo.AUTO)"
    [class.bg-blue-500]="filterState.selectedType === TipoVeicolo.AUTO"
    class="text-white p-2 rounded"
  >
    Auto
  </button>

  <!-- Filtro Moto -->
  <button
    (click)="toggleType(TipoVeicolo.MOTO)"
    [class.bg-green-500]="filterState.selectedType === TipoVeicolo.MOTO"
    class="text-white p-2 rounded"
  >
    Moto
  </button>

  <!-- Filtro per alimentazione -->
  <app-fuel-filter (filterByFuel)="applyFuelFilter($event)"></app-fuel-filter>
  
  <!-- Filtro per brand -->
  <div class="mx-4">
    <label for="brandFilter" class="mr-2">Seleziona Brand:</label>
    <select
      id="brandFilter"
      (change)="handleBrandChange($event)"
      class="p-2 rounded bg-gray-200"
    >
      <option value="all">Tutti i brand</option>
      <option *ngFor="let brand of availableBrands" [value]="brand">
        {{ brand }}
      </option>
    </select>
  </div>

  <div class="mx-4">
    <label for="modelFilter" class="mr-2">Seleziona Modello:</label>
    <select
      id="modelFilter"
      (change)="handleModelChange($event)"
      class="p-2 rounded bg-gray-200"
    >
      <option value="all">Tutti i modelli</option>
      <option *ngFor="let model of availableModels" [value]="model">
        {{ model }}
      </option>
    </select>
  </div>
  <div class="mx-4">
    <label for="yearFilter" class="mr-2">Seleziona Anno:</label>
    <select
      id="yearFilter"
      (change)="handleYearChange($event)"
      class="p-2 rounded bg-gray-200"
    >
      <option value="1000">Tutti gli anni</option>
      <option *ngFor="let year of availableYears" [value]="year">
        {{ year }}
      </option>
    </select>
  </div>
</div>
