<div class="flex flex-wrap items-center gap-8 lg:gap-32">
  <div class="flex ml-8">
    <!-- Filtro Prezzo -->
    <div class="mb-4 w-64 max-w-md flex flex-col">
      <label for="priceRange">Prezzo (€) : </label>

      <mat-slider [min]="0" [max]="100000" step="10">
        <input
          [(ngModel)]="priceRange.min"
          (ngModelChange)="onPriceChange()"
          matSliderStartThumb
        />
        <input  
          [(ngModel)]="priceRange.max"
          (ngModelChange)="onPriceChange()"
          matSliderEndThumb
        />
      </mat-slider>
      <div class="flex gap-4 mt-2">
        <!-- Input per il valore minimo -->
        <label>Min:</label>
        <input
          type="number"
          [(ngModel)]="priceRange.min"
          (input)="onPriceChange()"
          [min]="0"
          [max]="priceRange.max"
          step="10"
          class="w-20 border border-gray-300 rounded p-1"
        />
    
        <!-- Input per il valore massimo -->
        <label>Max:</label>
        <input
          type="number"
          [(ngModel)]="priceRange.max"
          (input)="onPriceChange()"
          [min]="priceRange.min"
          [max]="100000"
          step="10"
          class="w-20 border border-gray-300 rounded p-1"
        />
      </div>
    </div>
  </div>

  <div class="flex ml-8">
    <!-- Filtro Chilometraggio -->
    <div class="mb-4 w-64 max-w-md flex flex-col">
      <label for="kmRange">Chilometraggio (Km):</label>

      <mat-slider [min]="0" [max]="500000" step="1000">
        <input
          [(ngModel)]="kmRange.min"
          (ngModelChange)="onKmChange()"
          matSliderStartThumb
          step="1000"
        />
        <input
          [(ngModel)]="kmRange.max"
          (ngModelChange)="onKmChange()"
          matSliderEndThumb
          step="1000"
        />
      </mat-slider>

      <div class="flex gap-4 mt-2">
        <!-- Input per il valore minimo chilometraggio -->
        <label>Min:</label>
        <input
          type="number"
          [(ngModel)]="kmRange.min"
          (input)="onKmChange()"
          [min]="0"
          [max]="kmRange.max"
          step="1000"
          class="w-20 border border-gray-300 rounded p-1"
        />

        <!-- Input per il valore massimo chilometraggio -->
        <label>Max:</label>
        <input
          type="number"
          [(ngModel)]="kmRange.max"
          (input)="onKmChange()"
          [min]="kmRange.min"
          [max]="500000"
          step="1000"
          class="w-20 border border-gray-300 rounded p-1"
        />
      </div>
    </div>
  </div>
</div>
