<div class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
  <div class="bg-gray-800 rounded-lg p-6 shadow-lg w-96">
    <h2 class="text-xl font-semibold mb-4">Conferma acquisto</h2>
    <p>Sei sicuro di voler acquistare questo veicolo?</p>
    <label class="block text-sm font-medium text-gray-200 mt-4" for="email">Email:</label>
    <input
      type="email"
      id="email"
      [(ngModel)]="to_mail"
      class="w-full p-2 mt-1 rounded bg-gray-700 text-white focus:outline-none focus:bg-gray-600"
      placeholder="Inserisci la tua email"
      required
    />
    <div class="flex justify-end mt-6">
      <button (click)="onCancel()" class="px-4 py-2 bg-gray-300 rounded mr-2">Annulla</button>
      <button (click)="onConfirm()" class="px-4 py-2 bg-blue-600 text-white rounded">Conferma</button>
    </div>
  </div>
</div>